<div class="row">
<div class="two columns">&nbsp;</div>
	<div class="eight columns" style="text-align:center;padding-top:16%">
		<span style="font-size:1.5em;">Hi, Welcome to the MEAN CRUD App</span>
		<br>Please sign-in to continue</br>
		<div class="row">

		<form>
			<div class="two columns">&nbsp;</div>
			<div class="eight columns">

		      <label for="username">Username</label>
		      <input class="u-full-width" type="text" id="username" ng-model="username">

		      <label for="password">Password</label>
		      <input class="u-full-width" type="password" id="password" ng-model="password">

		      <button class="button-primary" ng-click="submit()">Submit</button>
				<span><a ui-sref="signup">Haven't Singed up</a></span>
		    </div>
			<div class="two columns">&nbsp;</div>
		</form>

		<div ng-if="error === true" style="color:red">
			Something is wrong!
		</div>

		</div>


	</div>
<div class="two columns">&nbsp;</div>
</div>
