<div class="row">
<div class="two columns">&nbsp;</div>
	<div class="eight columns" style="text-align:center;padding-top:16%">
		<span ng-if="signoutInitiated === true" style="font-size:1.5em;">Sad to see you going :(</span>
		<span ng-if="signoutInitiated === false" style="font-size:1.5em;">You haven't logged in , inorder to sign out! </span>
		<br>Please click here to login!</br>
		<button class="button-primary" ng-click="signin()">Login</button>
	</div>
<div class="two columns">&nbsp;</div>
</div>
