<div class="row">
<div class="two columns">&nbsp;</div>
	<div class="eight columns" style="text-align:center;padding-top:16%">
		<span style="font-size:1.5em;">Hi, Welcome to the MEAN CRUD App</span>
		<br>Please sign-in to continue</br>
		<div class="row">

		<form name="myForm" novalidate>
			<div class="two columns">&nbsp;</div>
			<div class="eight columns">

		      <label for="username">Username</label>
		      <input class="u-full-width" type="text" id="username" ng-model="username" required>
		      <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
			  <span ng-show="myForm.username.$error.required">Username is required.</span>
			  </span>

		      <label for="email">Email Id</label>
		      <input class="u-full-width" type="email" id="email" ng-model="email" required>
		      <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
					<span ng-show="myForm.email.$error.required">Email is required.</span>
					<span ng-show="myForm.email.$error.email">Invalid email address.</span>
					</span>

		      <label for="password">Password</label>
		      <input class="u-full-width" type="password" id="password" ng-model="password" required>

		      <label for="cnfpassword">Confirm Password</label>
		      <input class="u-full-width" type="password" id="cnfpassword" ng-model="cnfpassword" required>

		      <button class="button-primary" ng-disabled="myForm.username.$dirty && myForm.username.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid" ng-click="submit()">Submit</button>

		    </div>
			<div class="two columns">&nbsp;</div>
		</form>

		<div ng-if="error === true" style="color:red">
			Something is wrong!
		</div>
		</div>
	</div>
<div class="two columns">&nbsp;</div>
</div>
